.popup__close {
    background: transparent center url(../../../images/close-icon.svg);
    width: 60px;
    height: 60px;
    background-size: cover;
    border: none;
    position: absolute;
    top: -50px;
    right: -50px;
    padding: 0;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width:572px) {
    .popup__close {
        width: 34px;
        height: 34px;
        right: 0;
    }
}