.popup__container-image {
    position: relative;
    margin: 0;
}

@media screen and (max-width:450px) {
    .popup__container-image  {
        width: 240px;
        height: auto;
        margin: auto;
    }
}