.element__delete {
    background: transparent center url(../../../images/Trash.svg);
    width: 18px;
    height: 19.3px;
    background-size: cover;
    border: none;
    position: absolute;
    top: 18px;
    right: 15px;
    padding: 0;
}

.element__delete:hover {
    transition-duration: .3s;
    opacity: 0.6;
    cursor: pointer;
}


